body{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: peru;
}
.box{
    margin-top: 100px;
    position: absolute;
    background-color: peachpuff;
    padding: 15px;
   border-radius: 20px;
}
.input{
    border-radius: 999px 0 0 999px;
    height: 40px;
    width: 250px;
    padding-left: 15px;
    background-color: rgb(202, 67, 18);
    font-size: 20px;
}
.btn{
    height: 48px;
    width: 60px;
    border-radius: 0 999px 999px 0;
    background-color: chocolate;
}
.dot{
    display: flex;
}
.delete{
    margin-top: 15px;
    position: absolute;
    margin-left:240px;
}
.fav{
    margin-top: 15px;
    position: absolute;
    margin-left: -40px;
}